<div id="menu" class="hidden-xs col-sm-4 col-md-3">
	<div id="menu-content" class="vertical-align">
		{{ if isset .Site.Params "title" }}
			<h1 class="text-center"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.title }}</a></h1>
		{{ else }}
			<h1 class="text-center"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
		{{ end }}
		
		{{ if isset .Site.Params "subtitle" }}
			<small class="text-center center-block">{{ .Site.Params.subtitle }}</small>
		{{ end }}
		
		{{ if isset .Site.Params "profilepic" }}
			<img id="profile-pic" src="https://lh3.googleusercontent.com/-qYXpXVLe244/XpUee9wN10I/AAAAAAAAdxA/fgiALSnukDMvh0svcVudch5uugvzlUpVACEwYBhgLKs0DAMBZVoDurBqOfLdQ9LJxH_6pO1Zke_of6PubO7LvgTy6OPACmRVQMiRD856iKKPzcjcIddkwcHvKRmeBSw-oPYxuz5NZSlQ7y3qJUtbiu1K_0KTm8YmDz3EeQif9ZzMqWAQI9JsSvPI-clehtTi3iSvObXIrMyScwKXYgI9SAXX09roBhr5i_VLIjpaDfWwJj8T-Fm8Qs2ynepHrevuvOCGEiFdHSvT6TYKJTsmO69Si6_zuE2gc7FpHqA3dNLBdYDPonxJB0oi-oncO1nS2Orb3JcVLbp2yN5CSviNcfJn2Qy1bakdhoJEGEkzQox34f3ygNzIIHOYT7y0Om8e1v9lpTcaEy-Hwwa-mCH4UXT2YfltijaQvJotaN1FM6ebXfyeryk8_ujtOhopuGPT-AzkLkHkfAA510KaNhDo7OpYoG3KfxN8pigcBDJFRvTW1gXGemCKqdEZMwpWDupjaumGOOl4pF22Vb4IGSnKzTpcqJ8WeNEKSDTQ1lmOr5L6JqzWANGeZScN5C263bnwNLGYWHpVhSFmr15HhiF4KH-oslKUMoG08XhcrYAdR-q4Tckktgtv08-GsrzSFyUseuEB5QpUlI_dwLdOoeBww3sHU9AU/w280-h278-p/logoblog.png" alt="My Picture" class="img-circle center-block">
		{{ end }}
		<div id="social" class="text-center">
			{{ range .Site.Params.socialbuttons }}
				<a href="{{ .url }}"><i class="fa fa-{{ .faicon }} fa-2x"></i></a>
			{{ end }}

			{{ if isset .Site.Params "email" }}<a href="mailto:{{.Site.Params.email}}"><i class="fa fa-envelope-o fa-2x"></i></a>{{ end }}
		</div>
		<div id="links" class="text-center">
			{{ $url := .Site.BaseURL }}
			{{ range .Site.Params.navlinks }}
				<a href="{{ $url }}{{ .url }}">{{ .name }}</a>
			{{ end }}
		</div>
	</div>
</div>
